.container {
  width: 1000px;
  height: 256px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bfd9ff;
  display: flex;

  border-radius: 8px;
}

.right-col {
  width: 350px;
  padding: 24px;
}

.spinner {
  margin-top: 32px;

  display: flex;
  justify-content: center;
}

.submit-btn-div {
  margin-top: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  width: 180px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #623797;
  color: #eff4ff;
  border: none;
  border-radius: 12px;
}

.submit-btn:hover {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 650px;

    height: 350px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bfd9ff;
    display: block;

    border-radius: 8px;
  }

  .right-col {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  .submit-btn-div {
    margin-top: 12px;
    margin-right: 32px;
    padding-top: 8px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 475px;
  }

  .right-col {
    padding-top: 6px;
  }

  .submit-btn {
    width: 144px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #623797;
    color: #eff4ff;
    border: none;
    border-radius: 12px;
  }

  .submit-btn-div {
    margin-right: 20px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 360px;
    height: 370px;
  }

  .submit-btn-div {
    margin-right: 8px;
  }

  .submit-btn {
    width: 92px;
    height: 64px;
    padding: 8px 12px;
  }
}
