.navbar {
  width: 100vw;
  height: 84px;
  background-color: #bfd9ff;

  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

.nav-container {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon a {
  padding-left: 28px;
  font-size: 36px;
  color: black;
}

.navbar ul {
  padding-right: 64px;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navlink a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.navlink a:hover,
.navlink a:active,
.navlink a.active {
  color: black;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid black;
}

/* SMALL NAVBAR */

.navbar-small-container {
  position: relative;
}

.navbar-small {
  background-color: #bfd9ff;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  font-size: 24px;
  padding-right: 20px;
}

.side-navbar {
  height: 100vh;
  width: 196px;
  background-color: #233179;
  color: white;
  position: absolute;
  right: 0;
  transition: transform 250ms ease-in-out;
}
.side-navbar ul {
  padding-top: 12px;
}

.side-navbar li {
  list-style: none;
  padding-left: 16px;
  padding-bottom: 16px;
}

.side-navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.79);
}

.closed {
  opacity: 0;
  transform: translateX(196px);
}

.open {
  opacity: 1;
  transform: translateX(0px);
}

.xmark {
  padding: 16px 16px;
}

/* @media (max-width: 700px) {


  .menu-icon {
    font-size: 32px;
    padding-top: 26px;
    padding-right: 32px;
  }

  .nav-menu {
    height: 100vh;
    width: 240px;
    position: absolute;
    right: 0px;
    background-color: #eff4ff;

    display: flex;
    flex-direction: column;
  }
} */
