.ingredient-item {
  padding: 8px 10px;
  background-color: #623797;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  gap: 8px;
}

.xmark:hover {
  color: #e62319;
}

@media (max-width: 540px) {
  .ingredient-item {
    padding: 4px 8px;
  }

  .ingredient-item p {
    font-size: 12px;
  }
}
