.missing-ing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;

  position: relative;
}

.tooltip {
  font-size: 12px;
  width: 240px;
  background-color: white;
  padding: 8px;
  border: 1px solid black;
  position: absolute;

  display: none;
  left: 230px;
  top: -25px;
}

.missing-ing-header:hover .tooltip {
  display: block;
}

.missing-ing-inputs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  display: flex;
  gap: 36px;
  justify-content: center;
}

.missing-ing-inputs input[type="number"] {
  width: 32px;
  height: 28px;
  border: none;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 900px) {
  .missing-ing-header {
    padding-left: 12px;
  }

  .missing-ing-inputs {
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  .missing-ing-header {
    padding-left: 6px;
    margin-top: 6px;
    width: 200px;
    gap: 12px;
    justify-content: flex-start;
  }

  .missing-ing-header h4 {
    width: 140px;
  }

  .missing-ing-inputs {
    gap: 18px;
    justify-content: flex-start;
    padding-left: 6px;
  }

  .tooltip {
    left: 92px;
    top: 36px;
  }
}
