.search-result {
  width: 245px;
  height: 350px;
  /* border-radius: 12px; */
  overflow: hidden;

  background-color: #eff4ff;
}

.search-result:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 8px 0 #2331794e;
}

.recipe-img {
  width: 245px;
  height: 190px;
}

.recipe-title {
  font-size: 22px;
  font-weight: 500;
  color: #233179;
  padding: 14px;

  text-decoration: none;
}

.missing-ing-count {
  padding-left: 12px;
  color: #233179;
}

@media (max-width: 1200px) {
  .search-result {
    width: 200px;
    height: 285px;
  }

  .recipe-img {
    width: 200px;
    height: 150px;
  }

  .recipe-title {
    font-size: 20px;
    padding: 12px;
  }

  .missing-ing-count {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .search-result {
    display: flex;
    width: 360px;
    height: 108px;
  }

  .search-result img {
    width: 132px;
  }

  .recipe-title {
    font-size: 16px;
    padding-top: 8px;
  }

  .missing-ing-count {
    font-size: 12px;
  }
}
